<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lux Sapiens - Telling beautiful stories through visuals</title>
    


</head>
<body>
    <header id="header-nav">
    
        <%= image_tag('logo.png', :alt => 'LuxSapiens Logo', :id => 'logo') %>

        <nav id="main-nav">
            <ul>
                <li><%= link_to('About us','#about-us') %></li>
                <li><%= link_to('Services','#services') %></li>
                <li><%= link_to('Our Work','#our-work') %></li>
                <li><%= link_to('Contact','#contact-home') %></li>
            </ul>
        </nav>
        <div class="nav-social">
            <%= link_to root_path do %>
            <%= content_tag :i, "", :class => "fa fa-youtube" %>
            <% end %>
            <%= link_to root_path do %>
            <%= content_tag :i, "", :class => "fa fa-instagram" %>
            <% end %>
        </div>

    </header>
</body>
</html>