<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lux Sapiens - Telling beautiful stories through visuals</title>
</head>

<body>

    <header>
        <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark">
            <%= link_to(root_path,:class => 'navbar-brand navbar-logo') do %>
            <%= image_tag('logo.png', :alt => 'LuxSapiens Logo', :id => 'logo', :class => 'navbar-brand') %>
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav main-nav ml-auto mr-auto justify-content-center">
                    <li class="nav-item">
                        <%=  link_to( "About", "#about", :class => "nav-link") %>
                    </li>
                    <li class="nav-item">
                        <%=  link_to( "Services", "#services", :class => "nav-link") %>
                    </li>
                    <li class="nav-item">
                        <%=  link_to( "Our Work", "#our-work", :class => "nav-link") %>
                    </li>
                    <li class="nav-item">
                        <%=  link_to( "Contact", "#contact-home", :class => "nav-link") %>
                    </li>
                </ul>
                <div class="navbar-social">
                    <span class="navbar-text navbar-social">
                        <ul class="navbar-nav ">
                            <li class="nav-item active">
                                <%= link_to root_path do %>
                                <%= content_tag :i, "", :class => "fa fa-youtube" %>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to root_path do %>
                                <%= content_tag :i, "", :class => "fa fa-instagram" %>
                                <% end %>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <!-- HERO SECTION -->

    <section id="home-hero">
        <div class="video-hero">
            <%= video_tag("video-wertvoll-about.webm", :autoplay => true, :muted => true, :loop => true)  %>
        </div>

    </section>

    <!-- /HERO SECTION -->

    <!-- ABOUT SECTION -->

    <section id="about" class="bg-white video-fix">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h2 class="text-center text-justify">About Us</h2>
                    <hr class="divider-darkblue">
                    <p>We are a collective of creators and visual storytellers based in Berlin.</p>
                    <p>At Lux Sapiens we use photos and videos to tell stories. Everybody has a story to tell. 
                        And every story has an audience. Our job is to convey your message in a visually pleasing way. </p>
                    <p>Our team has artists specialized in many different areas and medias.</p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4 about-img-wrapper">
                    <%= image_tag("blur-camera-depth-of-field-2608519.jpg", :class => "about-img", :alt => "about-image") %>
                </div>
            </div>
        </div>
    </section>

    <!-- /ABOUT SECTION -->

    <!-- SERVICES SECTION -->

    <section id="services" class="bg-darkblue">
        <div class="container-fluid serices-bg-img serices-container">
                <div class="row services-title">
                        <div class="col">
                            <h2 class="contact-title text-center">Our Services!</h2>
                            <hr class="divider-white">
                        </div>
                    </div>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="service-wrapper">
                        <div class="service-icon"><i class="fa fa-camera fa-2x"></i></div>

                        <div class="service-description">
                            <h3 class="text-left">Photography</h3>
                            <p>Still photography can be one of the most arresting ways of getting your customers’
                                attention.
                                Having come up with a great concept, I’ll take care of all elements of the photo-shoot
                                to make sure that it runs seamlessly and we get the very best results.
                                I work hard to stay on top of all of my chosen fields; perfecting lighting, nailing
                                compositions and capturing that one moment that says it all.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-wrapper">
                        <div class="service-icon"><i class="fa fa-film fa-2x"></i></div>
                        <div class="service-description">
                            <h3 class="text-left">Video Production</h3>
                            <p> I work directly with clients, taking their video projects from inception all the way
                                through to final delivery.
                                I love nothing more than working with a client to come up with a really strong idea for
                                a video, and being able to work through every stage of the project until it is realised.
                                This can include conceptualizing and planning, scripting, story-boarding, crewing and
                                shoot planning, filming, editing, colour grading, delivery and project management.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row-overlay"></div>
            <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="service-wrapper">
                            <div class="service-icon"><i class="fa fa-video-camera fa-2x"></i></div>
    
                            <div class="service-description">
                                <h3 class="text-left">Camera Operation</h3>
                                <p>I film on a freelance basis with video production companies across the UK and
                                    internationally. I have a wide knowledge of the latest camera systems from DSLRs to
                                    large-sensor cinema cameras and more traditional 1/2 inch and 2/3 inch sensor
                                    cameras. Whether your project is a live-cam event, a commercial piece or a
                                    documentary film, I can fit right in with your production.</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-wrapper">
                            <div class="service-icon"><i class="fa fa-scissors fa-2x"></i></div>
                            <div class="service-description">
                                <h3 class="text-left">Video Editing</h3>
                                <p> I provide freelance video editing and post-production services to video companies
                                    across both the local area of Reading, Berkshire and throughout the UK. If you have
                                    a project that needs something special to bring it all together, I can help you out.
                                </p>
                            </div>
                        </div>
    
                    </div>
                </div>
        </div>
    </section>

    <!-- /SERVICES SECTION -->

    <!-- OUR WORK SECTION -->

    <section id="our-work" class="bg-white">
        <div class="container-fluid no-padding">
            <div class="row no-padding">
                <div class="col-lg-12 section-title">
                    <h2 class="text-center">Our Latest Work</h2>
                    <hr class="divider-darkblue">
                </div>
                
            </div>

            <!-- Commented out the navigation for categories of work since now only showing the last 9 entries -->

            <!-- <div class="row">
                    <div class="col-lg-12 work-categories">
                            <ul class="nav categories-nav justify-content-center">
                                    <li class="nav-item active">
                                        <%=  link_to( "Comercial", "#", :class => "nav-link") %>
                                    </li>
                                    <li class="nav-item">
                                        <%=  link_to( "Photography", "#", :class => "nav-link") %>
                                    </li>
                                    <li class="nav-item">
                                        <%=  link_to( "Promotional", "#", :class => "nav-link") %>
                                    </li>
                                    <li class="nav-item">
                                        <%=  link_to( "Tourism", "#", :class => "nav-link") %>
                                    </li>
                                </ul>
                    </div>
        </div> -->

        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("camera-operator.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
            </div>
                
            </div>
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-1.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4>                 
            </div>
            </div>
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-2.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-3.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-4.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-5.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-6.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-7.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="grid-img-container">
                <%= image_tag("grid-img-8.jpg", :class => "grid-img", :alt => "grid-image") %>
                <h4 class="grid-text">This is a test!</h4> 
                </div>
            </div>
        </div>
    </section>

    <!-- /OUR WORK SECTION -->

    <!-- CONTACT SECTION -->
      <section id="contact-home" class="bg-darkblue">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="contact-title text-center">Get in touch!</h2>
                    <hr class="divider-white">
                </div>
            </div>
            <div class="row justify-content-center">
                <%= form_for Contact.new do |f| %>
                <div class="col">
                    <%= f.label :name, class: "contact-form-label" %></br>
                    <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

                    <%= f.label :email, class: "contact-form-label" %></br>
                    <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

                    <%= f.label :message, class: "contact-form-label" %></br>
                    <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                        placeholder: "Send me a message"%></br>

                    <div class="hidden">
                        <%= f.label :nickname %>
                        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
                    </div>

                    <%= f.submit 'Send Message', class: 'btn btn-primary' %>
                </div>
                <% end %>

            </div>
        </div>
        </div>
    </section>

    <!-- /CONTACT SECTION -->
  

    <footer id="footer" class="bg-white">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">&copy; Lux Sapiens</div>

                <div class="col">
                    <div class="footer-social-container">
                        <span class="navbar-social">
                            <ul class="footer-social">
                                <li class="nav-item">
                                    <%= link_to root_path do %>
                                    <%= content_tag :i, "", :class => "fa fa-youtube" %>
                                    <% end %>
                                </li>
                                <li class="nav-item">
                                    <%= link_to root_path do %>
                                    <%= content_tag :i, "", :class => "fa fa-instagram" %>
                                    <% end %>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>